.block-editor-page {
	font-size: 16px;
	line-height: 1.4;
}

.editor-styles-wrapper {
	line-height: inherit !important;
}

.editor-default-block-appender .editor-inserter__toggle:not([aria-expanded=true]) {
    opacity: 1 !important;
}